<h1>Stack On Yard</h1>
<div class="col-md-12">
    <table id="table_penarikan" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="font-size:12px;">::</th>
                <th style="font-size:12px;">CONTAINER</th>
                <th style="font-size:12px;">SIZE</th>
                <th style="font-size:12px;">LOC</th>
                <th style="font-size:12px;">NO DOC</th>
        </thead>
        
        <tbody>
            {% for r in data %}
            <tr>
                <td style="font-size:12px;"><input type="radio" name="radio_pilih_cont" id="{{r.cont_id}}_{{r.no_doc}}_{{r.size}}" onclick="pilih_cont()"></td>
                <td style="font-size:12px;">{{r.cont_id}}</td>
                <td style="font-size:12px;">{{r.size}}/{{r.type}}</td>
                <td style="font-size:12px;">{{r.block}}-{{r.slot}}-{{r.row}}-{{r.tier}}</td>
                <td style="font-size:12px;">{{r.no_doc}}</td>
            </tr>
            {% endfor %}
        </tfoot>
    </table>
    <br>
    <div class="col-md-12">
        <div class="row" id="opt_20">
            
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#table_penarikan').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
        });
    });

    data_cont = {{ data_con|tojson }};
    data_opt = {{ data_op|tojson }};

    localStorage.data_cont = data_cont;
    localStorage.data_opt = data_opt;

    $( document ).ready(function() {
        hideLoading();

        if (size_cont_1 == null){
            document.getElementById("opt_20").innerHTML = `
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-6">
                        <button type="button" style="font-size: 40px;" class="btn btn-block btn-danger" onclick="cancel_process();">Cancel</button>
                    </div>

                    <div class="form-group col-md-6">
                        <button type="button" style="font-size: 40px;" class="btn btn-block btn-success" onclick="get_waktu_pilih_cont();">PILIH</button>
                    </div>
                </div>
            </div>
            `;
        } else if (size_cont_1 == 20){
            document.getElementById("opt_20").innerHTML = `
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-4">
                        <button type="button" style="font-size: 40px;" class="btn btn-block btn-danger" onclick="cancel_process();">Cancel</button>
                    </div>

                    <div class="form-group col-md-4">
                        <button type="button" style="font-size: 40px;" class="btn btn-block btn-success" onclick="combo_s();">NEXT</button>
                    </div>

                    <div class="form-group col-md-4">
                        <button type="button" style="font-size: 40px;" class="btn btn-block btn-success" onclick="get_waktu_pilih_cont();">PILIH</button>
                    </div>
                </div>
            </div>
            `;
        }
    });
</script>