<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="form-group" id="content_pre_invoice">
                            <section class="content">
                                <div class="container-fluid">
                                    <table id="table_pre_invoice" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="font-size:12px;">::</th>
                                                <th style="font-size:12px;">TRX</th>
                                                <th style="font-size:12px;">DOC</th>
                                                <th style="font-size:12px;">TGL DOC</th>
                                                <th style="font-size:12px;">STATUS</th>
                                                <th style="font-size:12px;">CUSTOMER</th>
                                                <th style="font-size:12px;">NPWP</th>
                                                <th style="font-size:12px;">CONTAINER</th>
                                            </tr>
                                        </thead>
                            
                                        <tbody>
                                            {% for r in data %}
                                            <tr>
                                                <td>
                                                    <div class="radio">
                                                        <input type="radio" id='{{r.trx}}' name="opt_trx" onclick="get_trx_checked()">
                                                    </div>
                                                </td>
                                                <td style="font-size:12px;">{{ r.trx }}</td>
                                                <td style="font-size:12px;">{{ r.no_doc }}</td>
                                                <td style="font-size:12px;">{{ r.tgl_doc }}</td>
                                                <td style="font-size:12px;">{{ r.status }}</td>
                                                <td style="font-size:12px;">{{ r.cust_name }}</td>
                                                <td style="font-size:12px;">{{ r.npwp }}</td>
                                                <td style="font-size:12px;"><button type="button" id="{{r.trx}}" class="btn btn-block btn-primary" onclick="list_container_pre_invoice();">List</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tfoot>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Paid Trhu</label>
                                    <div class="input-group date" id="date_paidtrhu" data-target-input="nearest">
                                        <input id="paidtrhu" type="text" class="form-control datetimepicker-input" data-target="#date_paidtrhu" data-toggle="datetimepicker"/>
                                        <div class="input-group-append" data-target="#date_paidtrhu" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Trucking</label>
                                    <select id="opt_trucking" class="form-control select2bs4" style="width: 100%;">
                                        <option value="internal" selected>Internal</option>
                                        <option value="eksternal">Ekternal</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Using NPWP</label>
                                    <select id="opt_npwp" class="form-control select2bs4" style="width: 100%;">
                                        <option value="eksportir" selected>Eksportir</option>
                                        <option value="ppjk">PPJK</option>
                                        <option value="pendaftar">Pendaftar</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-block btn-primary" onclick="check_pre_invoice()">Check</button>
                            </div>
                            <br>
                            <div class="col-sm-2">
                                <button id="btn_process" type="button" class="btn btn-block btn-primary" onclick="create_pre_invoice()" style="display: none;">Process</button>
                            </div>
                        </div>

                        <br>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-primary">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <div id="data_txt_preinvoice"></div>
                                                    </div>
                                                </div>
                        
                                                <div class="col-sm-7">
                                                    <div class="form-group">
                                                        <div id="data_pdf_preinvoice"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% for r in data %}
<div class="modal fade" id="l_{{r.trx}}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List Container</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="data_list_cont_pre_invoice">
                <table style="text-align: center; width:100%">
                    <tbody>
                        <tr>
                            <th>Container</th>
                            <th>Gate In</th>
                        </tr>
                    {% for z in r.cont_id %}
                        <tr>
                            <td>{{ z.cont_id }}</td>
                            <td>{{ z.date_in }}</td>
                        </tr>
                    {% endfor %}
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    $( document ).ready(function() {
        var date = moment();
        var currentDate = date.format('MM/DD/YYYY');
        document.getElementById("paidtrhu").value = currentDate;
    });

    $(function () {
        $('#table_pre_invoice').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });

    var s_trx_id = "";
    var s_trucking = "";
    var s_paid_trhu = "";
    var s_opt_npwp = "";

    function list_container_pre_invoice() {
        var id = document.activeElement.id;
        $('#l_'+id).modal('toggle');
    }

    $('#date_paidtrhu').datetimepicker({
        format: 'L'
    });

    function get_trx_checked() {
        if (s_trx_id != document.activeElement.id) {
            s_trx_id = document.activeElement.id;
            document.getElementById("btn_process").style.display='none';
            document.getElementById("data_pdf_preinvoice").style.display='none';
            document.getElementById("data_txt_preinvoice").style.display='none';
        }
    }

    async function check_pre_invoice() {
        var trucking = document.getElementById("opt_trucking").value;
        var paid_trhu = document.getElementById("paidtrhu").value;
        var opt_npwp = document.getElementById("opt_npwp").value;

        s_trucking = trucking;
        s_paid_trhu = paid_trhu;
        s_opt_npwp = opt_npwp;

        var fd = new FormData();
        showLoading();
        fd.append("process", "count preinvoice");
        fd.append("trx_id", s_trx_id);
        fd.append("trucking", trucking);
        fd.append("paid_trhu", paid_trhu);
        fd.append("opt_npwp", opt_npwp);

        await xhr.open("POST", "{{ url_for('pre_invoice_bp.preinvoice_ekpor') }}");
        const body = fd;
        xhr.timeout = 10000;
        xhr.onload = () => {
            hideLoading();
            if (xhr.readyState == 4 && xhr.status == 200) {
                $('#data_txt_preinvoice').html(xhr.response);
                document.getElementById("data_txt_preinvoice").style.display='block';
                document.getElementById("data_txt_preinvoice").style.height = "650px";
                document.getElementById("btn_process").style.display='block';
                document.getElementById("data_pdf_preinvoice").style.display='none';
            } else {
                document.getElementById("data_txt_preinvoice").innerHTML = "";
                document.getElementById("data_txt_preinvoice").style.height = "0px";
                document.getElementById("btn_process").style.display='none';
                document.getElementById("data_pdf_preinvoice").style.display='none';
                if (xhr.status == 999) {
                    notif("error", xhr.responseText);
                } else if (xhr.status == 888) {
                    notif("warning", xhr.responseText);
                }
            }
        };

        xhr.ontimeout = (e) => {
            on_timeout();
        };

        xhr.send(body);
    }

    async function create_pre_invoice() {
        var trucking = document.getElementById("opt_trucking").value;
        var paid_trhu = document.getElementById("paidtrhu").value;
        var opt_npwp = document.getElementById("opt_npwp").value;

        s_trucking = trucking;
        s_paid_trhu = paid_trhu;
        s_opt_npwp = opt_npwp;

        var fd = new FormData();
        showLoading();
        fd.append("process", "print preinvoice");
        fd.append("trx_id", s_trx_id);
        fd.append("trucking", trucking);
        fd.append("paid_trhu", paid_trhu);
        fd.append("opt_npwp", opt_npwp);

        await xhr.open("POST", "{{ url_for('pre_invoice_bp.print_data_preinvoice') }}");
        const body = fd;
        xhr.timeout = 10000;
        xhr.onload = () => {
            hideLoading();
            if (xhr.readyState == 4 && xhr.status == 200) {
                $('#data_pdf_preinvoice').html(xhr.response);
                document.getElementById("data_pdf_preinvoice").style.display='block';
                document.getElementById("data_pdf_preinvoice").style.height = "650px";
                document.getElementById("btn_process").style.display='block';
            } else {
                document.getElementById("data_pdf_preinvoice").innerHTML = "";
                document.getElementById("data_pdf_preinvoice").style.height = "0px";
                document.getElementById("btn_process").style.display='none';
                if (xhr.status == 999) {
                    notif("error", xhr.responseText);
                } else if (xhr.status == 888) {
                    notif("warning", xhr.responseText);
                }
            }
        };

        xhr.ontimeout = (e) => {
            on_timeout();
        };
        
        xhr.send(body);
    }
</script>