<br>
<section class="content">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>No. Transaksi</label>
                                        <input type="text" class="form-control" id="no_transaction" maxlength="255" disabled value="{{id_posgate}}">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">TRX ID</label>
                                        <input type="text" class="form-control" id="trx_id" maxlength="20" disabled value="{{trx_id}}">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Cont. ID</label>
                                        <input type="text" class="form-control" id="cont_id" maxlength="20" disabled value="{{cont_id}}">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Size/Type</label>
                                        <input type="text" class="form-control"id="size_type" maxlength="10" disabled value="{{size_type}}">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Reefer Flag</label>
                                        <input type="text" class="form-control" id="reefer_flag" maxlength="20" disabled value="{{ref_flag}}">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Location</label>
                                        <input type="text" class="form-control" id="location" maxlength="20" disabled value="{{location}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>