<br>
<table id="tpt" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="font-size:12px;">::</th>
            <th style="font-size:12px;">CUSTOMER</th>
            <th style="font-size:12px;">PETUGAS</th>
            <th style="font-size:12px;">NO. IDENTITAS</th>
            <th style="font-size:12px;">NO. HP</th>
            <th style="font-size:12px;">JABATAN</th>
            <th style="font-size:12px;">PASS ACCESS</th>
        </tr>
    </thead>
    
    <tbody>
        {% for r in data %}
        <tr>
            <td>
                <div class="radio">
                    <input type="radio" id='{{r.key}}' name="opt_key" onclick="get_key_pass_petugas_checked()">
                </div>
            </td>
            <td style="font-size:12px;">{{ r.cust_name }}</td>
            <td style="font-size:12px;">{{ r.nama }}</td>
            <td style="font-size:12px;">{{ r.no_identitas }}</td>
            <td style="font-size:12px;">{{ r.no_hp }}</td>
            <td style="font-size:12px;">{{ r.jabatan }}</td>
            <td style="font-size:12px;">{{ r.pass_access }}</td>
        </tr>
        {% endfor %}
    </tfoot>
</table>

<!--br>
<div-- class="col-sm-2">
    <button type="button" class="btn btn-block btn-primary" onclick="process_print_pass_access_petugas()">Print</button>
</div-->
<br>

<section class="content" id="container_pass_access_petugas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div id="print_data_pass_access_petugas"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $( document ).ready(function() {
        document.getElementById("container_pass_access_petugas").style.display = "none";
    });

    $(function () {
        $('#tpt').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });

    var key_pass_access = "";

    function get_key_pass_petugas_checked() {
        key_pass_access = document.activeElement.id;
        process_print_pass_access_petugas();
    }

    async function process_print_pass_access_petugas() {
        var fd = new FormData();
        showLoading();
        fd.append("key_pass_access", key_pass_access);
        fd.append("opt", "petugas");

        await xhr.open("POST", "{{ url_for('pass_access_bp.check_data_pass_access') }}");
        const body = fd;
        xhr.timeout = 10000;
        xhr.onload = () => {
            hideLoading();
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("container_pass_access_petugas").style.display = "block";
                $('#print_data_pass_access_petugas').html(xhr.response);
            } else {
                if (key_pass_access != "") {
                    document.getElementById(key_pass_access).checked = false;
                }
                document.getElementById("container_pass_access_petugas").style.display = "none";
                document.getElementById("print_data_pass_access_petugas").innerHTML = "";
                if (xhr.status == 999) {
                    notif("error", xhr.responseText);
                } else if (xhr.status == 888) {
                    notif("warning", xhr.responseText);
                }
            }
        };

        xhr.ontimeout = (e) => {
            hideLoading();
            notif("warning", "Proses Gagal");
        };
        
        xhr.send(body);
    }
</script>