<!DOCTYPE html>
<html lang="en">
    <style>
        .bg {
            background-image: url("https://cdn.grahasegaramedan.co.id/img/cont_bg.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forgot Password - Graha Segara</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="https://cdn.grahasegaramedan.co.id/icheck-bootstrap/icheck-bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.grahasegaramedan.co.id/css/adminlte.min.css">
        <link rel="stylesheet" href="https://cdn.grahasegaramedan.co.id/css/pre2.css">
        <link rel="icon" href="https://cdn.grahasegaramedan.co.id/img/gs.png" type="image/gif" sizes="16x16">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="apple-touch-icon" href="https://cdn.grahasegaramedan.co.id/img/gs.png">
        <link rel="icon" href="https://cdn.grahasegaramedan.co.id/favicon.ico" type="image/x-icon">
    </head>

    <body class="hold-transition login-page bg">
        <div id="loading-overlay" hidden></div>
        <div id="loader-wrapper" style="background-color: #212121; opacity: 0.5;">
            <div id="loader"></div>
        </div>
        
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="https://grahasegaramedan.co.id" class="h1">Graha Segara</a>
                </div>

                <div class="card-body">
                    <p class="login-box-msg">Forgot Password</p>

                    <form >
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Email" id="email" name="email" maxlength="255" onkeyup="email_check()">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-block btn-primary" onclick="send_link()">Send reset link</button>
                            </div>

                            <div class="col-6">
                                <a href="{{ url_for('auth_bp.login') }}" class="btn btn-light btn-block">Back to Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-msg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Message</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="msg"></p>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/js/adminlte.min.js"></script>
        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/js/loader.js"></script>
        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/js/pages/dis.js"></script>
        <!--script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></!--script-->

        <script>
            $(document).ready(function(){
                hideLoading();
            });

            var log = document.getElementById("email");
            log.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    resend();
                }
            });

            function email_check() {
                var email = document.getElementById("email").value;
                var mailformat = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

                if (email.match(mailformat)) {
                    document.getElementById('email').style.background = 'white';
                    document.getElementById('email').style.color = '#495057';
                } else {
                    document.getElementById('email').style.background = 'red';
                    document.getElementById('email').style.color = 'white';
                }
            }

            function send_link() {
                showLoading();
                var email = document.getElementById("email").value;
                var csrf_token = "{{ csrf_token() }}";
                var mailformat = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

                if (email.match(mailformat)) {
                    var fd = new FormData();
                    fd.append("email", email);

                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('password_bp.forgot_password') }}",
                        headers : {"X-CSRFToken" : csrf_token},
                        data: fd,
                        contentType: false,
                        processData: false,
                        success: function(response){
                            document.getElementById("email").value = "";
                            hideLoading();
                            document.getElementById('email').style.background = 'white';
                            document.getElementById('email').style.color = '#495057';
                            document.getElementById("msg").innerHTML = "Email Telah Terkirim <br>Silahkan Cek Email Anda Untuk Reset Password Anda";
                            $('#modal-msg').modal('toggle');
                        },
                        error: function(response){
                            hideLoading();
                            if (response.status == 999) {
                                document.getElementById("msg").innerHTML = response.responseText;
                                $('#modal-msg').modal('toggle');
                            }
                        }
                    });
                } else {
                    hideLoading();
                    document.getElementById("msg").innerHTML = "Email Tidak Dapat Digunakan";
                    $('#modal-msg').modal('toggle');
                }
            }
        </script>

        <noscript>
            <meta http-equiv="refresh" content="0;url='https://grahasegaramedan.co.id'">
        </noscript>

    </body>
</html>