<!DOCTYPE html>
<html lang="en">
    <style>
        .bg {
            background-image: url("https://cdn.grahasegaramedan.co.id/img/cont_bg.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reset Password - Graha Segara</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="https://cdn.grahasegaramedan.co.id/icheck-bootstrap/icheck-bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.grahasegaramedan.co.id/css/adminlte.min.css">
        <link rel="stylesheet" href="https://cdn.grahasegaramedan.co.id/css/pre2.css">
        <link rel="icon" href="https://cdn.grahasegaramedan.co.id/img/gs.png" type="image/gif" sizes="16x16">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="apple-touch-icon" href="https://cdn.grahasegaramedan.co.id/img/gs.png">
        <link rel="icon" href="https://cdn.grahasegaramedan.co.id/favicon.ico" type="image/x-icon">
    </head>

    <body class="hold-transition login-page bg">
        <div id="loading-overlay" hidden></div>
        <div id="loader-wrapper" style="background-color: #212121; opacity: 0.5;">
            <div id="loader"></div>
        </div>
        
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="https://grahasegaramedan.co.id" class="h1">Graha Segara</a>
                </div>

                <div class="card-body">
                    <p class="login-box-msg">New Password</p>

                    <form>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password" id="password" maxlength="25">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Retype Password" name="r_password" id="r_password" maxlength="25" onkeyup="check_retype_password()">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-block btn-primary" onclick="reset_password()">Reset Password</button>
                            </div>

                            <div class="col-6">
                                <a href="{{ url_for('auth_bp.login') }}" class="btn btn-light btn-block">Back to Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-msg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Message</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="msg"></p>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/js/adminlte.min.js"></script>
        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/js/loader.js"></script>
        <script type="text/javascript" src="https://cdn.grahasegaramedan.co.id/js/pages/dis.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

        <script>
            $(document).ready(function(){
                hideLoading();
            });

            var log = document.getElementById("r_password");
            log.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    reset_password();
                }
            });

            function check_retype_password() {
                var pass= $('input[name="password"]').val();
                var r_pass= $('input[name="r_password"]').val();

                if (pass != r_pass) {
                    document.getElementById('r_password').style.background = 'red';
                    document.getElementById('r_password').style.color = 'white';
                } else {
                    document.getElementById('r_password').style.background = 'white';
                    document.getElementById('r_password').style.color = '#495057';
                }
            }

            function reset_password() {
                showLoading();
                var password = document.getElementById("password").value;
                var r_password = document.getElementById("r_password").value;
                var csrf_token = "{{ csrf_token() }}";
                var link = window.location.href;

                if (!password || !r_password) {
                    hideLoading();
                    document.getElementById("msg").innerHTML = "Lengkapi Password Terlebih Dahulu";
                    $('#modal-msg').modal('toggle');
                } else if (password === r_password) {
                    var fd = new FormData();
                    fd.append("password", password);

                    $.ajax({
                        type: "POST",
                        url: link,
                        headers : {"X-CSRFToken" : csrf_token},
                        data: fd,
                        contentType: false,
                        processData: false,
                        success: function(response){
                            document.getElementById("password").value = "";
                            document.getElementById("r_password").value = "";
                            hideLoading();
                            document.getElementById("msg").innerHTML = "Password Telah Diubah <br>Silahkan Login Menggunakan Password Terbaru Anda";
                            $('#modal-msg').modal('toggle');
                        },
                        error: function(response){
                            hideLoading();
                            if (response.status == 999) {
                                document.getElementById("msg").innerHTML = response.responseText;
                                $('#modal-msg').modal('toggle');
                            }
                        }
                    });
                } else {
                    hideLoading();
                    document.getElementById("msg").innerHTML = "Password Harus Sama";
                    $('#modal-msg').modal('toggle');
                }
            }
        </script>

        <noscript>
            <meta http-equiv="refresh" content="0;url='https://grahasegaramedan.co.id'">
        </noscript>

    </body>
</html>