<br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <!--div class="card-header">
                        <h3 class="card-title">SP2 by Container</h3>
                    </!--div-->
                    
                    <div class="card-body">
                        <div class="form-group" id="content_data">
                            <section class="content">
                                <div class="container-fluid">
                                    <table id="table_sp2_cont" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="font-size:12px;">NO</th>
                                                <th style="font-size:12px;">PROFORMA</th>
                                                <th style="font-size:12px;">INVOICE</th>
                                                <th style="font-size:12px;">CONTAINER</th>
                                                <th style="font-size:12px;">SIZE</th>
                                                <th style="font-size:12px;">LOCATION</th>
                                                <th style="font-size:12px;">TERMINAL</th>
                                                <th style="font-size:12px;">PAID THRU</th>
                                                <th style="font-size:12px;">::</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for r in data %}
                                            <tr>
                                                <td style="font-size:12px;">{{ r.no }}</td>
                                                <td style="font-size:12px;">{{ r.proforma }}</td>
                                                <td style="font-size:12px;">{{ r.invoice }}</td>
                                                <td style="font-size:12px;">{{ r.cont_id }}</td>
                                                <td style="font-size:12px;">{{ r.size }}</td>
                                                <td style="font-size:12px;">{{ r.loc }}</td>
                                                <td style="font-size:12px;">{{ r.terminal }}</td>
                                                <td style="font-size:12px;">{{ r.paid_trhu }}</td>
                                                <td style="font-size:12px;"><button type="button" id="{{ r.id }}" class="btn btn-block btn-primary" onclick="window.open('{{ url }}print_sp2/{{ r.key_print }}', '_blank').focus();">Print</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tfoot>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('#table_sp2_cont').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>