<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <h2>Welcome to</h2>
                    <h1>PT. GRAHA SEGARA</h1>
                    <h2>Untuk Menjadi Perusahaan Yang Terbaik Di Bidang Pelayanan Pelabuhan Indonesia, Kita Ciptakan Sumber Daya Manusia Yang Jujur , Kreatif Dan Inovatif Dalam Bekerja Dan Melayani Pelanggan</h2>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
            <img src="{{ url_for('static', filename='welcome_client/img/cs.png') }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>